<div class="bg-primary pad-10">
  <div class="p-0">
    <div class="text-white">
      <div class="p-0" href="#">
        <img src="./assets/images/logo_v3.svg" width="40px" alt="">
        <span class="pl-3 fs-16"> StoreKing - Super Franchisee</span>
        <span class="fs-26 float-right">
          <i class="fa fa-globe"  (click)="changeLanguage()"></i></span>
      </div>
    </div>
  </div>
</div>

<div class="containe">
  <!-- HEADER START -->
  <div class="header-bg bg-cover">
    <section class="sticky">
      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </section>
    <div class="container">
      <div class="row text-light py-5">
        <div class="col-12 col-md-7">
          <div class="mb-3 wow bounce" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <img src="./assets/images/sk_logo.svg" class="logo" alt="">
          </div>

          <div class="mb-4 wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <div class="title">
              SUPER FRANCHISE
            </div>
            <div class="title-1 font-weight-bold">RETAILER</div>
          </div>

          <div class="mb-3 fs-16  wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
            How be a Super Stackist across <span class="color-yellow font-weight-bold">600 brands</span> &
            categaries
            spread across
            FMCG, CDIT, ELECTRONICS,
            SPORTS, STAPLES, GROCERY & many more.
          </div>

          <div class="mb-5 fs-16  wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
            with an investment of <span class="color-yellow font-weight-bold">1 lac-5 lacs</span> opt for being a
            Super Franchise in
            your own town.
          </div>

          <div class="container">
            <div class="row">
              <div class="col-6 col-md-4 d-flex align-items-center justify-content-center wow fadeInRight"
                data-wow-duration="1.3s" data-wow-delay="0.2s" *ngFor="let h of header">
                <div class="container p-0">
                  <div class="row mb-3 d-flex align-items-center justify-content-center">
                    <div class="col-4 col-md-4 p-0">
                      <img [src]="h.icon" width="50px" alt="">
                    </div>
                    <div class="col-8 col-md-8 fs-14 p-1">
                      {{h.title}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-5 text-center wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <img src="./assets/images/sf_image.png" class="banner-img" alt="">

          <div class="wow fadeInDown" [ngClass]="!desktop?'text-primary text-left':'px-5'" data-wow-duration="1.3s"
            data-wow-delay="0.2s">
            <span class="font-weight-bold join">Join Now</span> become a Super Franchisee Partner in India
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- HEADER END -->

  <!-- ABOUT START -->
  <div class="container about">
    <div class="font-weight-bold color-primary mb-3 join  wow fadeInDown" data-wow-duration="1.3s"
      data-wow-delay="0.2s">
      About Storeking
    </div>

    <div class="color-primary  mb-2 wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
      Where are we today?
    </div>

    <div class="marb fs-16 wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
      we are biggest & the only player in the technologically-driven Rural Distribution Network Space. At storeking ,
      we are redefining Rural Commerce, one kirana store at a time
    </div>

    <div class="container marb">
      <div class="row" [ngClass]="{'d-flex justify-content-center':desktop}">
        <div class="col-6 p-0 col-md-3 mb-4" *ngFor="let a of about">
          <div class="row d-flex align-items-center wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <div class="col-4 p-0 text-center">
              <img class="about-icons" src="{{a?.icon}}" alt="">
            </div>
            <div class="col-8 p-0">
              <div class="p-0 font-weight-bold color-primary">{{a.value}}</div>
              <div class="p-0 fs-14">{{a.title}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ABOUT END -->

    <!-- PILLARS START -->
    <div>
      <div class="sub-header marb color-priary wow shakeX" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <span> 4 Pillars of StoreKing</span>
      </div>

      <div class="container">
        <div class="row marb wow zoomIn" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="col-6 p-2 col-md-3 mb-1" *ngFor="let p of pillars">
            <div class="pillar-border p-3 text-center h-100">
              <div class="wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.3s">
                <img class="pillar-icon mb-3" [src]="p.icon" alt="">
              </div>

              <div class="color-primary font-weight-bold pillar-text mb-2">
                {{p.title}}
              </div>

              <div class="pillar-desp">
                {{p.descp}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- PILLARS END -->
  </div>

  <!-- WHO CAN BE SUPER FRANCHISE START -->
  <div style="background-color: aliceblue;" class="pb-4 marb">
    <div class="container padt">
      <div class="font-weight-bold color-primary join mb-4  wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        Who can be a Super Franchise
      </div>

      <div class="container">
        <div class="row marb" [ngClass]="{'super-bg bg-cover':desktop}">
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-12 col-md-4 p-2" *ngFor="let sf of superFranchise">
                <div class="container">
                  <div class="row d-flex align-items-center">
                    <div class="col-3 col-md-12">
                      <img [src]="sf.icon" class="super-icon  wow fadeInLeft" data-wow-duration="1.3s"
                        data-wow-delay="0.2s" alt="">
                    </div>

                    <div class="col-9 col-md-12">
                      <div class="fs-16 wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.3s"> {{sf.text}}
                        <span class="text-warning" *ngIf="sf.sqft">{{sf.sqft}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="!desktop">
            <img src="./assets/images/super_franchisee.png" width="350px" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- WHO CAN BE SUPER FRANCHISE END -->

  <!-- TYPE OF SUPER FRANCHISE START -->
  <div class="container">
    <div class="font-weight-bold color-primary marb join wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.2s">
      Types of Super Franchise - Retailer
    </div>

    <!-- TYPE 1 START -->
    <div class="row marb">
      <div class="col-12 col-md-4 order-1 text-center wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <div *ngIf="desktop">
          <img class="arrow-right" src="../assets/images/arrow-towards-right.svg" alt="">
        </div>
        <img class="retailer-icon marb" src="./assets/images/retailer/sk_tore.svg" alt="">
        <div *ngIf="!desktop">
          <img class="arrow-right-down" src="../assets/images/arrow_right_down.svg" alt="">
        </div>
      </div>

      <div class="col-12 col-md-8 order-2 align-self-center wow fadeInRight" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        <div class="font-weight-bold color-primary join mb-2">
          Super Franchisee - Retailer
        </div>
        <div class="brd-b pb-5 fs-20">
          Investment of <span class="color-warning">₹5 lacs</span> and above, access to <span class="color-warning"> 600
            brands</span> delivery to Local
          retailers vicinity of 10 kms, trade marketing activity within the region
        </div>
      </div>
    </div>
    <!-- TYPE 1 END -->

    <!-- TYPE 2 START -->
    <div class="row marb">
      <div class="col-12 col-md-4 text-center wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s"
        [ngClass]="desktop?'order-2':'order-1'">
        <div *ngIf="desktop">
          <img class="arrow-left" src="../assets/images/arrow-towards-left.svg" alt="">
        </div>
        <img class="retailer-icon marb" src="./assets/images/retailer/super_franchisee_customer.svg" alt="">
        <div *ngIf="!desktop">
          <img class="arrow-left-down" src="../assets/images/arrow_left_down.svg" alt="">
        </div>
      </div>

      <div class="col-12 col-md-8 align-self-center wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
        [ngClass]="desktop?'order-1':'order-2'">
        <div class="font-weight-bold color-primary join mb-2">
          Super Franchisee - Customer
        </div>
        <div class="brd-b pb-5 fs-20">
          Investment of above <span class="color-warning">₹1 lacs</span> , curated list of products for stocking,
          delivery to local StoreKing Agent or directly to a household in the vicinity
          of 5 kms, Direct customer connect.
        </div>
      </div>
    </div>
    <!-- TYPE 2 END -->

    <!-- TYPE 3 START -->
    <div class="row marb">
      <div class="col-12 col-md-4 order-1 text-center wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s">
        <div *ngIf="desktop">
          <img class="arrow-right" src="../assets/images/arrow-towards-right.svg" alt="">
        </div>
        <img class="retailer-icon marb" src="./assets/images/retailer/super_franchisee_cfa.svg" alt="">
        <div *ngIf="!desktop">
          <img class="arrow-right-down" src="../assets/images/arrow_right_down.svg" alt="">
        </div>
      </div>

      <div class="col-12 col-md-8 order-2 align-self-center wow fadeInRight" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        <div class="font-weight-bold color-primary join mb-2">
          Super Franchisee - CFA
        </div>
        <div class="brd-b pb-5 fs-20">
          Investment of above <span class="color-warning">₹2 lacs</span>, delivery to local retailers with help of
          StoreKing Feet on Street (FOS), access to <span class="color-warning"> 600 brands</span>.
        </div>
      </div>
    </div>
    <!-- TYPE 3 END -->

    <!-- TYPE 4 START -->
    <div class="row marb">
      <div class="col-12 col-md-4 text-center wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s"
        [ngClass]="desktop?'order-2':'order-1'">
        <div *ngIf="desktop">
          <img class="arrow-left" src="../assets/images/arrow-towards-left.svg" alt="">
        </div>
        <img class="retailer-icon marb" src="./assets/images/retailer/super_franchisee_brands.svg" alt="">
        <div *ngIf="!desktop">
          <img class="arrow-left-down" src="../assets/images/arrow_left_down.svg" alt="">
        </div>
      </div>

      <div class="col-12 col-md-8 wow fadeInLeft align-self-center" data-wow-duration="1.3s" data-wow-delay="0.2s"
        [ngClass]="desktop?'order-1':'order-2'">
        <div class="font-weight-bold color-primary join mb-2">
          Super Franchisee - Brands
        </div>
        <div class="brd-b pb-5 fs-20">
          Investment of <span class="color-warning">₹5 lacs</span> and above, One or two brands super stockist, delivery
          to local retailers. Any existing SF can upgrade to Super Franchisee - Brand
        </div>
      </div>
    </div>
    <!-- TYPE 4 END -->
  </div>
  <!-- TYPE OF SUPER FRANCHISE END -->

  <!-- ADVANTAGES OF SF START -->
  <div style="background-color: aliceblue;" class="marb">
    <div class="container pb-4">
      <div class="font-weight-bold color-primary join pt-5 marb wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        Advantages of being an Super Franchisee
      </div>

      <div class="row marb" [ngClass]="{'advantage-bg bg-cover':desktop}">
        <div class="col-12 col-md-4 wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="advantage-border rounded bg-light p-2 mb-4" *ngFor="let ad of advantages1">
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-9 text-right">
                  <div class="font-weight-bold color-primary advantage-title mb-2">
                    {{ad.title}}
                  </div>

                  <div class="fs-16">
                    {{ad.descp}}
                  </div>
                </div>
                <div class="col-3">
                  <img class="advantage-icon text-center" [src]="ad.icon" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="offset-md-3 col-12 col-md-4 wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="advantage-border rounded bg-light p-2 mb-4" *ngFor="let ad of advantages2">
            <div class="row d-flex align-items-center">
              <div class="col-3" *ngIf="desktop">
                <img class="advantage-icon text-center" [src]="ad.icon" alt="">
              </div>

              <div class="col-9" [ngClass]="desktop?'text-left':'text-right'">
                <div class="font-weight-bold color-primary advantage-title mb-2">
                  {{ad.title}}
                </div>

                <div class="fs-16">
                  {{ad.descp}}
                </div>
              </div>

              <div class="col-3" *ngIf="!desktop">
                <img class="advantage-icon text-center" [src]="ad.icon" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12" *ngIf="!desktop">
          <img src="./assets/images/super_franchisee.png" width="350px" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- ADVANTAGES OF SF END -->

  <div class="container">
    <!-- LOGISTICS START -->
    <div class="marb">
      <div class="font-weight-bold color-primary mb-2 join wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        StoreKing Logistics
      </div>

      <div class="marb wow fadeInDown fs-16" data-wow-duration="1.3s" data-wow-delay="0.3s">Logistics to Small towns
        and
        how Super franchisees play an important role</div>

      <!-- LOGISTICS TYPE 1 START -->
      <div class="row marb d-flex align-items-center">
        <div class="col-12 col-md-4 order-1 text-center wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <img class="type-icon" src="./assets/images/logistics/storeKing_airavat.svg" alt="">
        </div>

        <div class="col-12 col-md-8 order-2 wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="mb-2 fs-20">
            Fist time ever for Small towns in India Solving Small towns Logistics
            Last Mile Delivery
          </div>
          <div class="font-weight-bold color-primary mb-2 join">
            StoreKing Airavat
          </div>
          <div class="fs-20">
            Solving India’s Last mile Logistics by enabling Hub and spoke model for
            building biggest Logistics network or Small towns India.
          </div>
        </div>
      </div>
      <!-- LOGISTICS TYPE 1 END -->

      <!-- LOGISTICS TYPE 2 START -->
      <div class="row marb d-flex align-items-center">
        <div class="col-12 col-md-4 text-center wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s"
          [ngClass]="desktop?'order-2':'order-1'">
          <img class="type-icon" src="./assets/images/logistics/last_mile_delivery.png" alt="">
        </div>

        <div class="col-12 col-md-8 wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
          [ngClass]="desktop?'order-1':'order-2'">
          <div class="font-weight-bold color-primary mb-2 join">
            Delivery till the last mile
          </div>
          <div class="fs-20">
            StoreKing has enabled Hub and spoke model across all operated districts
            of Small towns India by having multiple touch points of mini warehouses
            (Super Franchisee) and in turn helping Kirana get products door delivered.
          </div>
        </div>
      </div>
      <!-- LOGISTICS TYPE 2 END -->

      <!-- LOGISTICS TYPE 3 START -->
      <div class="row marb d-flex align-items-center">
        <div class="col-12 col-md-4 order-1 text-center wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <img class="type-icon" src="./assets/images/logistics/on_time_deliveries.svg" alt="">
        </div>

        <div class="col-12 col-md-8 order-2 wow fadeInRight" data-wow-duration="1.3s" data-wow-delay="0.2s">
          <div class="font-weight-bold color-primary mb-2 join">
            On time deliveries
          </div>
          <div class="fs-20">
            StoreKing Airavat helps Kirana to be part of Technology enabled distribution
            platform and the entire logistics aspect is solved by delivering products at the door
            step on a prescribed PDP (Permanent Dispatch Plan) date as set for each Kirana
          </div>
        </div>
      </div>
      <!-- LOGISTICS TYPE 3 END -->
    </div>
    <!-- LOGISTICS END -->

    <div>
      <div class="font-weight-bold color-primary mb-3 join wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.2s">
        StoreKing Payments
      </div>

      <div class="marb wow fadeInDown" data-wow-duration="1.3s" data-wow-delay="0.3s">
        A Prepaid Ecosystem to solve Distribution in Small towns of India
      </div>

      <div class="marb wow zoomIn img-scroll" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img class="img" src="./assets/images/storeKing_payments.svg" alt="">
      </div>

      <div class="font-weight-bold color-primary marb join wow fadeInDown" data-wow-duration="1.3s"
        data-wow-delay="0.3s">
        How Super Franchisee works
      </div>

      <div class="marb wow zoomIn img-scroll" data-wow-duration="1.3s" data-wow-delay="0.3s">
        <img class="img" src=" ./assets/images/franchisee_works.svg" alt="">
      </div>
    </div>
  </div>
</div>