* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.color-primary {
  color: #003173;
}

.color-warning {
  color: #E64B16;
}

.color-yellow {
  color: #FFFF00
}

body {
  top: 0px !important;
}

#sk-google-lang-modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, .5)
}

#sk-google-lang-modal .skgl-main {
  display: flex;
  /* align-items: center; */
  margin-top: 100px;
  justify-content: center;
  height: 100%
}

#sk-google-lang-modal .skgl-main .skgl-inner {
  position: absolute;
  background: #fff;
  padding: 30px 20px;
  border-radius: 3px;
  width: 320px
}

#sk-google-lang-modal .skgl-main .skgl-inner .skgl-ok a {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none
}

#sk-google-lang-modal .skgl-main .skgl-inner .skgl-ok a img {
  width: 20px
}

#sk-google-lang-modal .skgl-main .skgl-inner .goog-te-combo {
  height: 30px;
  border-radius: 3px;
  background: #fff;
  width: 100%
}

#sk-google-lang-modal .lng-blk {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%
}

#sk-google-lang-modal .lng-blk .lng-blk-inner {
  padding: 10px;
  border: .5px solid #dedede;
  border-radius: 4px;
  margin: 10px 5px;
  flex-basis: 45%;
  font-size: 12px;
  cursor: pointer
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.active {
  background: #e5f9fc
}

#sk-google-lang-modal .lng-blk .lng-blk-inner .mtxt {
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: 600
}

#sk-google-lang-modal .lng-blk .lng-blk-inner .stxt {
  font-size: 12px
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.en {
  color: #3ab8c3;
  background: #e4f4f6;
  border-color: #3ab8c3
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.hi {
  color: #f9a117;
  background: rgba(249, 161, 23, .10980392156862745);
  border-color: #f9a117
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.kn {
  color: #1a76d2;
  background: rgba(26, 118, 210, .12941176470588237);
  border-color: #1a76d2
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.ml {
  color: #707070;
  background: #f3f5fc;
  border-color: #707070
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.mr {
  color: #46c256;
  background: #def3e1;
  border-color: #46c256
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.ta {
  color: #c2465d;
  background: #f5e1e5;
  border-color: #c2465d
}

#sk-google-lang-modal .lng-blk .lng-blk-inner.te {
  color: #5b81e9;
  background: #e0e7fb;
  border-color: #5b81e9
}

.skiptranslate {
  display: none;
}

#goog-gt-tt {
  display: none !important;
}

.goog-te-combo {
  height: 30px;
  border-radius: 3px;
  background: white;
  width: 100%;
}